<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/bill.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
            color: #000;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 10px;
        }

        .bill {
            width: 250px;
            box-shadow: 0 0 3px #aaa;
            padding: 10px 10px;
            box-sizing: border-box;
        }

        .flex {
            display: flex;
        }

        .justify-between {
            justify-content: space-between;
        }

        .table {
            border-collapse: collapse;
            width: 100%;
        }

        .table .header {
            border-top: 2px dashed #000;
            border-bottom: 2px dashed #000;
        }

        .table {
            text-align: left;
        }

        .table .total td:first-of-type {
            border-top: none;
            border-bottom: none;
        }

        .table .total td {
            border-top: 2px dashed #000;
            border-bottom: 2px dashed #000;
        }

        .table .net-amount td:first-of-type {
            border-top: none;
        }

        .table .net-amount td {
            border-top: 2px dashed #000;
        }

        /* .table .net-amount{
  border-bottom: 2px dashed #000;
} */
        @media print {

            .hidden-print,
            .hidden-print * {
                display: none !important;
            }
        }
    </style>
    <div class="bill">
        <div class="brand">
            Quán cơm
        </div>
        <div class="address">
            93 Man Thiện <br> SDT - 0397007579
        </div>

        <div>Hóa đơn bán hàng </div>
        <div class="bill-details">
            <div class="flex justify-between">
                <div id="bill-no">BILL NO: 091</div>
                <div id="table-no">TABLE NO: 091</div>
            </div>
            <div class="flex justify-between">
                <div id="date"></div>
            </div>
        </div>
        <table class="table">
            <tr class="header">
                <th>
                    Món ăn
                </th>
                <th>
                    Giá
                </th>
                <th>
                    SL
                </th>
                <th>
                    Thành tiền
                </th>
            </tr>
            <tbody id="table-detail">  
            </tbody>
        </table>
       Phương thức thanh toán: tiền mặt<br>
       <div  id="staff" ></div><br>
        <p>Thank You ! Please visit again</p>
    </div>
     <%- include('./partials/foot'); %>
    <script type="module" src="../public/js/bill.js"></script>
</body>

</html>