<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
    <link href="/public/css/login.css" rel="stylesheet" type="text/css">

    <body>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <div class="form" action="" method="post">
                                <h3 class="text-center text-info">ĐĂNG NHẬP</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Tên đăng nhập:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Mật khẩu:</label><br>
                                    <input type="text" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-info"><span>Nhớ tài khoản</span> <span><input
                                                id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                    <button name="submit" class="btn btn-info btn-md" onclick="Login()">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            async function Login() {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                axios.post("/api/v1/auth/login",{
                    username,
                    password
                }).then(data=>console.log(data)).catch(err=>console.log(err))
            }
        </script>
</html>