.animationFadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
.animationMove {
    animation: moveFromOutside 0.5s ease-in-out;
}
@keyframes moveFromOutside {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.bg-violet{
  background-color: #6f42c1;
}