<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="./home">Trang chủ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="./menu">Quản lý thực đơn</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="./staff">Quản lý nhân viên</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="./statistics">Thống kê doanh thu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>