<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/view/home">
      <div class="sidebar-brand-text mx-3">Quản trị<sup></sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/view/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Trang chủ</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="/view/staff">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Quản lý nhân viên</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="/view/food">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Quản lý thực đơn</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="/view/statistics">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Thống kê</span></a>
  </li>
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
</ul>